---
layout: default
title: "CV"
author_profile: true
permalink: /cv/
---
<h1 style="margin-bottom: 2em;color:#fff;"> Curriculum Vitæ</h1>
<div class="row">
{% include elements/skills.html title="Programming Skills" source=site.data.programming-skills %}
{% include elements/skills.html title="Research Interests" source=site.data.research-interests %}
</div>
{% include elements/timeline.html title="Current and Past Experiences" source=site.data.timeline%}
{% include elements/timeline.html title="Education" source=site.data.education_timeline%}
