---
layout: default
title: "Research"
author_profile: true
permalink: /research/
---

<h1>My Research in Multimodal Biomedical Optics</h1>
<!-- Import Hero Section -->
<!-- <div class="container clearfix"> -->
<div class="container clearfix"><div class="row flex-column-reverse flex-md-row">
    <div class="col-12 col-md-8">
      {% capture research %}{% include_relative research.md %}{% endcapture %}
      {{ research | markdownify }}
    </div>
    <div class="col-12 col-md-4">
      {% include elements/skills.html title="Research Interests" source=site.data.research-interests %}
    </div>
  </div>
</div>
<!-- </div> -->

<!-- Supervision Section -->
<h1>Supervision</h1>
{% include base_path %}
{% include elements/get-supervision-exp.html %}

<!-- Funds Raised Section -->
<h1 id="projects">Funds Raised</h1>
<div class="container projects-container clearfix">
  <div>
    <h2>{{ site.projects_title | default: "Current Funded Projects" }}</h2><br/>
    {% for project in site.data.projects %}
      {% if project.done!=true %}
        {% if forloop.first == false %}
          <hr>
        {% endif %}
        <div class="row jumbotron col-sm-12 col-xs-12">
          <div>
            {%- if project.link -%}
            <h4><a href="https://{{project.link}}" target="_blank" class="project-link">{{ project.acronym }}</a></h4>
            {%- else -%}
            <h4>{{ project.acronym }}</h4>
            {%- endif -%}
            {%- if project.name -%}
              <h5>{{ project.name }}</h5><br/>
            {%- endif -%}
            <p>
              {% if project.pi_url %}
              PI: <a href="https://{{project.pi_url}}" target="_blank" class="project-link"> {{project.pi}}</a><br/>
              Funding: {{project.funding}}<br/>
              Year: {{project.years}}<br/>
              {% else %}
              PI: {{project.pi}}<br/>
              Funding: {{project.funding}}<br/>
              Year: {{project.years}}<br/>
              <em>My Status: {{project.status}}</em><br/>
              {% endif %}
              {%- if project.website -%}
                Website: <a href="https://{{ project.website }}" target="_blank" class="project-link">{{ project.website }}</a><br/>
              {%- endif -%}
            </p>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div><br/>
  <div>
    <h2>{{ site.projects_title | default: "Past Funded Projects" }}</h2><br/>
    {% for project in site.data.projects %}
      {% if project.done %}
        {% if forloop.first == false %}
          <hr>
        {% endif %}
        <div class="row jumbotron col-sm-12 col-xs-12">
          <div>
            <h4>{{ project.acronym }}</h4>
            {%- if project.name -%}
              <h5>{{ project.name }}</h5><br/>
            {%- endif -%}
            <p>
              {% if project.pi_url %}
              PI: <a href="{{project.pi_url}}" target="_blank" class="project-link"> {{project.pi}}</a><br/>
              Funding: {{project.funding}}<br/>
              Year: {{project.years}}<br/>
              {% else %}
              PI: {{project.pi}}<br/>
              Funding: {{project.funding}}<br/>
              Year: {{project.years}}<br/>
              <em>My Status: {{project.status}}</em><br/>
              {% endif %}
              {%- if project.website -%}
                Website: <a href="https://{{ project.website }}" target="_blank" class="project-link">{{ project.website }}</a><br/>
              {%- endif -%}
            </p>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<!-- Scientific Production Section -->
<h1>Scientific Production</h1>
<h4 style="margin-left:3rem">Verbatim</h4>
<div id="hal-wordcloud-integrator"></div>
<div id="hal-bibliography-integrator" style="display:none"></div><br/>
<a href="/publications/"><span style="margin-left:3rem">Details</span></a>
<br/><br/>