<!-- TITLE -->

<title>{{ site.title }}</title>

<!-- CONFIG -->
<meta charset="{{ site.encoding }}">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="cleartype" content="on">

<!-- ICONS -->

<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/assets/favicon/apple-touch-icon-180x180.png">

<link rel="icon" type="image/png" sizes="192x192" href="{{ base_path }}/assets/favicon/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="512x512" href="{{ base_path }}/assets/favicon/android-chrome-512x512.png">

<link rel="icon" type="image/png" sizes="16x16" href="{{ base_path }}/assets/favicon/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ base_path }}/assets/favicon/favicon-32x32.png">

<!-- STYLE -->
<!-- ACADEMICONS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.9.3/css/academicons.min.css" integrity="sha512-vaoopdl+FJahyY2ddhsbDj8yDiRuyUYH/vIjF3z+cBg0sKc07NAQmUYli8volCGlW9OwlQyjVsr7Lh6qAManlw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- FONTAWESOME ICONS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- MAIN STYLE SHEET-->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">
<!-- HAL PUBLICATION STYLE -->
<link rel="stylesheet" href="{{ base_path }}/assets/hal-publication-list/hal-style.css">

<!-- SCRIPTS -->
<!-- CONFIGURATION MATHJAX -->
<script type="text/javascript">
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            processEscapes: true,
            tags: "all"
        },
        svg: {
            fontCache: 'global'
        },
        loader: {
            load: ['[tex]/html']
        }
    };
</script>
<!-- LOAD MATH JAX-->
<script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
<!-- LOAD HAL PUBLICATION SCRIPTS -->
<script type="text/javascript">
    // idHal personalisé
    const idhal = "{{ site.data.author.hal }}";
    // Liste des keywords de type de publications souhaitées
    const publiList = ["THESE", "ART", "UNDEFINED", "COMM"]
</script>