
<script type="text/javascript" src="{{ base_path }}/assets/js/darkmode.js"></script>
<script type="text/javascript" src="{{ base_path }}/assets/js/main.js"></script>
<script type="text/javascript" src="{{ base_path }}/assets/js/assets/hal-bibliography-integrator/hal.js"></script>
<script type="text/javascript" src="{{ base_path }}/assets/js/assets/hal-bibliography-integrator/hal-wordcloud.js"></script>
<script type="text/javascript" src="{{ base_path }}/assets/js/assets/hal-bibliography-integrator/hal-artscore.js"></script>