<script language="JavaScript" type="text/javascript" src="{{ base_path }}/assets/js/vendor/jquery/jquery-1.12.4.min.js"></script>
<script language="JavaScript" type="text/javascript" src="{{ base_path }}/assets/js/plugins/jquery.fitvids.js"></script>
<script language="JavaScript" type="text/javascript" src="{{ base_path }}/assets/js/plugins/stickyfill.min.js"></script>
<script language="JavaScript" type="text/javascript" src="{{ base_path }}/assets/js/plugins/jquery.smooth-scroll.min.js"></script>
<script language="JavaScript" type="text/javascript" src="{{ base_path }}/assets/js/plugins/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="{{ base_path }}/assets/js/main.min.js"></script>
<script type="text/javascript" src="{{ base_path }}/assets/js/collapse.js"></script>
<script type="text/javascript" src="{{ base_path }}/assets/js/main.js"></script>
<script type="text/javascript" src="{{ base_path }}/assets/hal-publication-list/hal-script.js"></script>