table {
	margin-bottom: 1em;
	width: 100%;
	font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
	font-size: .75em;
	border-collapse: collapse;
	border: 1px solid #bdc1c4;
    img {
        max-width: 50px;
    }
}

thead {
    display: none;
	border-bottom: 1px solid #bdc1c4;
}

tr, td, th {
	vertical-align: middle;
    padding: 3px;
}

th {
	padding: 0.5em;
	font-weight: bold;
	text-align: left;
	border-right: 1px solid #bdc1c4;
}

td {
    border-right: 1px solid #bdc1c4;
}