.author__content {
    text-align: center;
}

.page__content {
	text-align: justify;
}

#publi-hal-all {
	text-align: left;
}

.hal-spinner {
    text-align:center;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    background-color: #337ab7;
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

.btn, .btn:hover {
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: .25rem;
	color: #212529;
	display: inline-block;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	padding: .375rem .75rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	user-select: none;
	vertical-align: middle;
}

.title-facet {
	background-color: #f6f6f6;
	border-radius: 0;
	color: #337ab7;
	font-size: 1.15rem;
	font-weight: 700;
	text-align: left;
	width: 100%;
}

.hal-icon {
    color: #337ab7;
    padding-right: 7px;
}

.btn:hover .hal-icon {
	color: #212529;
	text-decoration: none;
}

.btn:hover a {
    color: #212529;
    text-decoration: none;
}

.icon-drop_down {
	float: right;
	font-size: 1rem;
    margin-right: 10px;
    margin-top: 0;
    padding-top: 8px;
    --fa-rotate-angle: -90deg;
}

.content-facet {
	margin-left: 22px;
	margin-top: 15px;
	padding-bottom: 15px;
}

.table-white {
	width: 100%;
	border: none;
}

table {
	border-collapse: collapse;
}

#resume-content-document .table-white tr:last-child {
	border-bottom: none;
}

.results-table tr td:first-child {
	width: 61px;
}

.results-table tr td {
	border-right: none;
}

.results-table tr td::nth-last-child(1) {
	border-bottom: none;
}

.results-table tr td::nth-last-child(2) {
	border-bottom: none;
}

#mydeposit tbody #ownsub tr td:first-child, #partage_table tbody tr td:first-child, .table-white tr td:first-child {
	padding-left: 14px;
}

.d-sm-table-cell {
	display: table-cell !important;
}

.results-table td a {
	color: #494e52;
	height: 100%;
	width: 100%;
}

#resume-content-document .results-table .media {
	margin-right: 10px;
}

.media {
	height: 94px;
	width: 74px;
}

.media img {
	background: #fff;
	border: 1px solid #e8e8e8;
	height: 100%;
	width: 100%;
}

#mydeposit tbody #ownsub tr td, #partage_table tbody tr td, .table-white tr td {
	display: table-cell;
	vertical-align: middle;
}

.results-table h3 {
	font-size: 1rem;
	margin-bottom: 0;
    margin-top: 0;
}

.results-table td a:hover {
	text-decoration: none;
}


.table-white .authors-results {
	color: #337ab7;
	font-size: .85rem;
	font-weight: 700;
}

.results-table .citation-results, .results-table .citation-results a {
	color: #826b6b;
	font-size: .85rem;
}

#mydeposit tbody #ownsub tr:focus, #mydeposit tbody #ownsub tr:hover, #partage_table tbody tr:focus, #partage_table tbody tr:hover, .table-white tr:focus, .table-white tr:hover {
	background-color: #eef2f6;
	box-shadow: 0 3px 6px #00000029;
}

.page__content ol, .page__content li {
	margin-bottom: 0;
	margin-top: 0;
}

.page__content li {
	margin-bottom: 0;
	margin-top: 0;
}

/*.page__content li a {
	color: #494e52;
	text-decoration: none;
}*/

.page__content ol li:last-child {
	margin-bottom: 1rem;
}

.masthead {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
	border: 0;
}

#main {
	margin-top: 115px;
}

.sticky {
	position: sticky;
	top: 5em;
}

@media (max-width: 57.8125em) {
	.sticky {
		position: inherit;
	}
}

.semi-bold {
	font-weight: bold;
	text-decoration: none;
	color: #5c6266;
}

@media (max-width: 500px) {
	mjx-container[jax="SVG"][display="true"] {
		font-size: 0.7em;
	}
}