.page__content ol, .page__content li {
	margin-bottom: 0;
	margin-top: 0;
}

.page__content li {
	margin-bottom: 0;
	margin-top: 0;
}

/*.page__content li a {
	color: #494e52;
	text-decoration: none;
}*/

.page__content ol li:last-child {
	margin-bottom: 1rem;
}

.masthead {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
	border: 0;
}

#main {
	margin-top: 115px;
}

.sticky {
	position: sticky;
	top: 5em;
}

@media (max-width: 57.8125em) {
	.sticky {
		position: inherit;
	}
}

.semi-bold {
	font-weight: bold;
	text-decoration: none;
	color: #5c6266;
}

@media (max-width: 500px) {
	mjx-container[jax="SVG"][display="true"] {
		font-size: 0.7em;
	}
}