---
---

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

.page__content ol, .page__content li {
	margin-bottom: 0;
	margin-top: 0;
}

.page__content li {
	margin-bottom: 0;
	margin-top: 0;
}

/*.page__content li a {
	color: #494e52;
	text-decoration: none;
}*/

.page__content ol li:last-child {
	margin-bottom: 1rem;
}

.masthead {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
	border: 0;
}

#main {
	margin-top: 115px;
}

.sticky {
	position: sticky;
	top: 5em;
}

@media (max-width: 57.8125em) {
	.sticky {
		position: inherit;
	}
}

.semi-bold {
	font-weight: bold;
	text-decoration: none;
	color: #5c6266;
}

.container {
    width:100%;
    border:1px solid #d3d3d3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
}