---
---
@import url(//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css);
@import "variables"; 
@import "base";
@import "masthead";
@import "darkmode";
@import "sidebar";
@import "tables";
@import 'footer';

#home{
	padding-top: 1.3em;
}

.company-logo {
  width: auto;
  height: 200px;
  max-width:200px;
  margin: 0 auto;
  padding : 50% 0;
  display: block;
  border-radius: 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media print {
  a[href]:after {
    content: none !important;
  }

  img[src]:after {
    content: none !important;
  }

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width:8.33333333%;
  }
  .col-print-12 {
    width: 100%;
  }

  .no-print, .no-print * {
    display: none !important;
  }
}	


.experience, .education, .project {
	color:inherit;
	details > summary::marker {
		content:"\0025B6";
	}
	
	details[open] > summary::marker {
		content:"\0025BC";
	}
	
  .left-column {
    text-align: left;

    p {
      margin-bottom: 3px;
      font-size: 1.6em;
      text-align: inherit;
      font-weight: 300;

      b {
        font-weight: 500;
      }
    }

    @media screen and (max-width: 768px) {
      text-align: center;

      p {
        text-align: center;
      }
    }

    a {
      font-style: italic;
      font-weight: 300;
    }
	p>a.icon{
		color:inherit;
	}

    .fa {
      font-size: 1em;
    }
	
    .project-link {
      font-size: 1.5em;
    }

    h4 {
      margin-bottom: 0.4em;
      font-weight: 500;
	  margin-top : 0px;

      @media print {
        margin-bottom: 0.2em;
      }

      a {
        font-weight: 500;
      }
    }
  }
}

.education-container, .experience-container{
	display:table;
	width:90%;
	box-sizing: border-box;
}

.education-container > .education, .experience-container > .experience{
	margin-left:2%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}